@layout CandlesLayout

@if (Candle is not null)
{
	<div>
		<table class="table mb-3 mt-0" style="border-spacing: 5px 5px; border-collapse:separate">
			<tr>
				<th scope="row" class="col-4">
					Id
				</th>
				<td class="col-8">
					@Candle.Id
				</td>
			</tr>
			<tr>
				<th scope="row" class="col-4">
					Назва
				</th>
				<td class="col-8">
					@Candle.Name
				</td>
			</tr>
			<tr>
				<th scope="row" class="col-4">
					Категорія
				</th>
				<td class="col-8">
					@Candle.Category
				</td>
			</tr>
			<tr>
				<th scope="row" class="col-4">
					Опис
				</th>
				<td class="col-8">
					@Candle.Description
				</td>
			</tr>
			<tr>
				<th scope="row" class="col-4">
					Собівартість
				</th>
				<td class="col-8">
					@Candle.RealCost
				</td>
			</tr>
			<tr>
				<th scope="row" class="col-4">
					Ціна продажу
				</th>
				<td class="col-8">
					@Candle.SellPrice
				</td>
			</tr>
			<tr>
				<th scope ="row" class="col-4">
					Висота (см)
				</th>
				<td class="col-8">
					@Candle.HeightCM
				</td>
			</tr>
			<tr>
				<th scope="row" class="col-4">
					Час горіння (хв)
				</th>
				<td class="col-8">
					@Candle.BurningTimeMins
				</td>
			</tr>
			<tr>
				<th scope="row" class="col-4">
					Воску потрібно (г)
				</th>
				<td class="col-8">
					@Candle.WaxNeededGram
				</td>
			</tr>
			<tr>
				<th scope="row" class="col-4">
					Гніт (см)
				</th>
				<td class="col-8">
					@Candle.WickDiameterCM
				</td>
			</tr>
			<tr>
				<th scope="row" class="col-4">
					Photo
				</th>
				<td class="col-8">
					@Candle.PhotoLink

				</td>
			</tr>
		</table>
	</div>
}

@code {
	[CascadingParameter]
	public CandleFullVM Candle { get; set; } = null!;

}
