@layout OrdersLayout

@using AdminApp.WASM.Models;

<style>
	.hr-line {
		border: 1px black;
	}
</style>

<h3>
	@if (OrderModel.Id != 0)
	{
		<span>Замовлення -</span> @OrderModel.Id
	}
</h3>

<div class="container">
	<div class="pb-2 row">
		<label class="form-label col-5 col-lg-2 col-form-label fw-lighter">
			Дата замовлення
		</label>
		<div class="col-7 col-lg-6">
			<InputDate @bind-Value="OrderModel.DateOrdered" @bind-Value:format="dd/MM/yyyy" class="form-control"/>
		</div>
	</div>
	<div class="pb-2 row">
		<label class="form-label col-2 col-lg-2 col-form-label fw-lighter">
			ПІБ
		</label>
		<div class="col-10 col-lg-6">
			<InputText @bind-Value="OrderModel.Name" class="form-control" />
		<ValidationMessage For="() => OrderModel.Name" />
		</div>
	</div>

	<div class="pb-2 row">
		<label class="form-label col-5 col-lg-2 col-form-label fw-lighter">
			Номер телефону
		</label>
		<div class="col-7 col-lg-6">
			<InputText @bind-Value="OrderModel.PhoneNumber" class="form-control" />
			</div>
		<ValidationMessage For="() => OrderModel.PhoneNumber" />
	</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-lg-2 col-form-label fw-lighter">
			Місто
		</label>
		<div class="col-9 col-lg-6">
			<InputText @bind-Value="OrderModel.City" class="form-control" />
		<ValidationMessage For="() => OrderModel.City" />
			</div>
	</div>

	<div class="pb-2 row">
		<label class="form-label col-5 col-lg-2 col-form-label fw-lighter">
			Адреса доставки
		</label>
		<div class="col-7 col-lg-6">
			<InputText @bind-Value="OrderModel.Adress" class="form-control" />
		<ValidationMessage For="() => OrderModel.Adress" />
	</div>
		</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-lg-2 col-form-label fw-lighter">
			Коментар
		</label>
		<div class="col-9 col-lg-6">
			<InputText @bind-Value="OrderModel.Comment" class="form-control" />
			</div>
	</div>

	<hr class="hr-line" />

	<div class="pb-2 row">
		<label class="form-label col-5 col-lg-12 col-form-label fw-lighter" @onclick="() => CandlesExpanded = !CandlesExpanded" @onclick:preventDefault>
			Вибрані свічки
		</label>
		<div class="col-6 col-lg-6">
			<button type="button" class="btn btn-sm btn-primary" @onclick="() => CandlesExpanded = !CandlesExpanded">
				<i class="bi bi-check-circle"/> 
				Вибрати
			</button>
		</div>
		
		@if (CandlesExpanded)
		{
			<br />
			@foreach (var candle in CandlesOrdered)
			{
				<div class="row mb-2 input-group">
					<div class="input-group-text col-6 col-lg-3 text-wrap text-start ">@candle.Name </div>
					<div class="input-group-text col-1">
					<button type="button" class="btn" @onclick="(e) => DecreaseCounterForChosenCandle(e, candle)">
							<i class="bi bi-dash-square-fill" />
						</button>
						</div>
					<div class="col-1 input-group-text">@candle.Quantity</div>
					<button type="button" class="input-group-text btn col-1" @onclick="(e) => IncreaseCounterForChosenCandle(e, candle)">
						<i class="bi-plus-square-fill"/>
					</button>
					<div class="col-auto input-group-text">@candle.TotalSum грн.</div>
					<br />
				</div>
			}
		}
	</div>


	<div class="pb-2 row">
		<label class="form-label col-6 col-lg-2 col-form-label fw-lighter">
			Промокод (% або знижка грн)
		</label>
		<div class="col-6 col-lg-6">
			<InputText @bind-Value="OrderModel.Promocode" @onclick="() => CandlesExpanded = false" />
			<button type="button" @onclick="(args) => UsePromocode(args, OrderModel.Promocode)">Use</button>
			</div>
	</div>

	<div>
		Вибрані свічки:
		@{
			int totalgram = 0;
			@foreach (var candle in CandlesOrdered)
			{
				@if (candle.Quantity > 0)
				{
					<br />

					<span>@candle.Name - @candle.Quantity шт - @(candle.WaxNeededGramm * candle.Quantity) г</span>
					totalgram += candle.WaxNeededGramm * candle.Quantity;
				}
			}
			<br>

			<span>Воску потрібно: </span>

			@totalgram

			<span> г.</span>
		}
	</div>

	<div class="pb-2 row">
		<label class="form-label col-6 col-lg-2 col-form-label fw-lighter">
			Сума
		</label>
		<div class="col-6 col-lg-6">
			<InputNumber @bind-Value="OrderModel.Price" @onclick="() => CandlesExpanded = false" />
		<ValidationMessage For="() => OrderModel.Price" />
			</div>
	</div>

</div>


@code {

	// ordermodel from form models
	[Parameter]
	public NewOrderFormModel OrderModel { get; set; } = null!;

	// needed to display them when adding new candle to order
	[Parameter]
	public IEnumerable<CandleFullVM> Candles { get; set; } = null!;

	// get all chosen candles with quantity > 0
	[Parameter]
	public List<CandleOrdered> CandlesOrdered { get; set; } = new List<CandleOrdered>();


	// expand/hide candles to add them
	private bool CandlesExpanded { get; set; } = false;


	// called after received parameters from parent
	protected override void OnParametersSet()
	{
		// // assigning each candle to CandlesOrdered model with default Quantity and Totalsum
		// foreach (var candle in Candles)
		// {
		// 	CandlesOrdered.Add(new CandleOrdered
		// 		{
		// 			Id = candle.Id,
		// 			Name = candle.Name,
		// 			Price = candle.SellPrice,
		// 			Quantity = 0,
		// 			TotalSum = 0,
		// 			WaxNeededGramm = candle.WaxNeededGram,
		// 			WickDiameterCM = candle.WickDiameterCM
		// 		});
		// }


		// // this needed when editing order and it already has candles ordered
		// // key - candleId
		// // value - quantity of candle
		// foreach (var c in OrderModel.CandleIdAndQuantity)
		// {
		// 	var index = CandlesOrdered.FindIndex(o => o.Id == c.Key);
		// 	CandlesOrdered[index].Quantity = c.Value;
		// 	CandlesOrdered[index].TotalSum = CandlesOrdered[index].Quantity * CandlesOrdered[index].Price;
		// }


		// SEEDING WHILE DEBUGGING
		SeedCandlesOrdered();


	}


	// functions for increasing/decreasing counter
	public void IncreaseCounterForChosenCandle(MouseEventArgs args, CandleOrdered candle)
	{
		candle.Quantity++;
		candle.TotalSum += candle.Price;
		OrderModel.Price += candle.Price;
	}
	public void DecreaseCounterForChosenCandle(MouseEventArgs args, CandleOrdered candle)
	{
		if (candle.Quantity > 0 && candle.TotalSum >= candle.Price)
		{
			candle.Quantity--;
			candle.TotalSum -= candle.Price;
			OrderModel.Price -= candle.Price;

			// price could not be less than 0
			OrderModel.Price = OrderModel.Price < 0 ? 0 : OrderModel.Price;
		}
	}


	// could be 10% or 10 (means -10 grn)
	public void UsePromocode(MouseEventArgs args, string? promocodeValue)
	{
		if (promocodeValue is null)
		{
			return;
		}

		string trimmed = promocodeValue.Trim();
		decimal value = 0;
		if (trimmed.EndsWith('%'))
		{
			bool result = decimal.TryParse(promocodeValue[..^1], out value);
			if (result)
			{
				var howmuch = value * OrderModel.Price / 100;
				OrderModel.Price -= howmuch;
			}
		}
		else
		{

			bool result = decimal.TryParse(promocodeValue, out value);
			if (result && OrderModel.Price > value)
			{
				OrderModel.Price -= value;
			}
		}
	}


	private void SeedCandlesOrdered()
	{
		CandlesOrdered.Add(new CandleOrdered
			{
				Id = 1,
				Name = "first",
				Price = 100,
				Quantity = 0,
				TotalSum = 0,
				WaxNeededGramm = 10,
				WickDiameterCM = 10
			});

		CandlesOrdered.Add(new CandleOrdered
			{
				Id = 2,
				Name = "second",
				Price = 200,
				Quantity = 0,
				TotalSum = 0,
				WaxNeededGramm = 20,
				WickDiameterCM = 20
			});

		CandlesOrdered.Add(new CandleOrdered
			{
				Id = 3,
				Name = "third candle big",
				Price = 300,
				Quantity = 0,
				TotalSum = 0,
				WaxNeededGramm = 30,
				WickDiameterCM = 30
			});

		CandlesOrdered.Add(new CandleOrdered
			{
				Id = 4,
				Name = "mega long name fourth canlde",
				Price = 400,
				Quantity = 0,
				TotalSum = 0,
				WaxNeededGramm = 40,
				WickDiameterCM = 40
			});
	}

}


