@page "/"
@using AdminApp.WASM.Application.Candle;
@using AdminApp.WASM.Application.Order;
@using AdminApp.WASM.Application.Interfaces;
@inject HttpClient hclient;
@inject IGetItem<OrderVM> getOrders;
@inject CandleInteractor candleInteractor;

<PageTitle>Road23 Home</PageTitle>

<h3> Welcome </h3>

<article>
	<div>
		<NavLink class="nav-link" href="orders">
			Останні замовлення
		</NavLink>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>ПІБ</th>
					<th>Номер телефону</th>
					<th>Сума</th>
				</tr>
			</thead>
			<tbody>
				@if (!LastOrders.Any())
				{
					<tr>@OrdersLoadingMessage</tr>
				}
				else
				{
					@foreach (var order in LastOrders)
					{
						<tr>
							<td>@order.Id</td>
							<td>@order.Receiver.FullName</td>
							<td>@order.Receiver.PhoneNumber</td>
							<td>@order.TotalSum</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</article>

<article>
	<div>
		<NavLink class="nav-link" href="/candles">
			Свічки
		</NavLink>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Назва</th>
					<th>Ціна</th>
				</tr>
			</thead>
			<tbody>
				@if (!LastCandles.Any())
				{
					<tr>
						<td colspan="4">
							@CandlesLoadingMessage
						</td>
					</tr>
				}
				else
				{
					@foreach (var candle in LastCandles)
					{
						<tr>
							<td>@candle.Id</td>
							<td>@candle.Name</td>
							<td>@candle.SellPrice</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</article>

<h3> status code - @OrdersLoadingMessage</h3>
<h3> status code2 - @CandlesLoadingMessage</h3>

@code {
	public IEnumerable<OrderVM> LastOrders { get; set; } = Enumerable.Empty<OrderVM>();
	public IEnumerable<CandleFullVM> LastCandles { get; set; } = Enumerable.Empty<CandleFullVM>();

	// Message 'Loading...' or 'No {item}' displayed in the Table
	public string OrdersLoadingMessage { get; set; } = "Loading...";
	public string CandlesLoadingMessage { get; set; } = "Loading...";

	// strings to HttpChecker to get if the items exist by path
	private string _ordersPath = "api/order";
	private string _candlesPath = "api/candle?view=full";


	protected override async Task OnInitializedAsync()
	{
		LastOrders = await new OrderInteractor(getOrders).GetLastOrdersAsync(_ordersPath);
		OrdersLoadingMessage = LastOrders.Any() switch
		{
			true => "",
			false => "Сталась помилка або замовлення відсутні."
		};

		LastCandles = await candleInteractor.GetLastCandlesListAsync(_candlesPath);
		CandlesLoadingMessage = LastCandles.Any() switch
		{
			true => "",
			false => "Сталась помилка або свічки відсутні."
		};
	}

	

}